<%= form_with url: bankslips_path, method: :post do |form| %>
<div class='bg-white rounded-md m-2 p-2 shadow'>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "amount",
          label: "amount",
          type: "text",
          required: true,
          placeholder: "",
          data: "data-bankslip-target='value' data-action=keyup->bankslip#maskMoneyBRL"
        }
      %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "expire_at",
          label: "expire_at",
          type: "date",
          required: true,
          placeholder: "",
          data: "data-bankslip-target=expireAt data-action=change->bankslip#validateDate"
        }
      %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: { name: "document", label: "document", type: "number", required: true, placeholder: "", data: "" }
      %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: { name: "name", label: "name", type: "text", required: true, placeholder: "", data: "" }
      %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "zipcode",
          label: "zipcode",
          type: "number",
          required: true,
          placeholder: "",
          data: "data-action=keyup->bankslip#findZipcode"
        }
      %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "state",
          label: "state",
          type: "text",
          required: true,
          placeholder: "",
          data: "data-bankslip-target=state data-action=keyup->bankslip#limitState"
        }
      %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "city",
          label: "city",
          type: "text",
          required: true,
          placeholder: "",
          data: "data-bankslip-target=city"
        }
      %>
    </div>

    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "neighborhood",
          label: "neighborhood",
          type: "text",
          required: true,
          placeholder: "",
          data: "data-bankslip-target=neighborhood"
        }
      %>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
      <%= render partial: 'bankslips/form/input',
        locals: {
          name: "address",
          label: "address",
          type: "text",
          required: true,
          placeholder: "",
          data: "data-bankslip-target=address"
        }
      %>
    </div>
  </div>

  <div class="grid md:grid-cols-12 md:gap-6 gap-2 ">
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
      <%= t("bankslip.label.create") %>
    </button>

    <%= link_to(t("bankslip.label.cancel"),
      bankslips_path,
      class:"text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center")%>
  </div>
</div>
<% end %>